@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --Verde: #ffffff;
    --cinza-dark: #121212;
    --cinza-light: #252020;
    --branco: #ffffff;
}
@media (max-weight: 400px){
    body{
        font-family: "Playwite CU Guides", cursive;
    }
}
body{
    font-family: "Work Sans", sans-serif;
    background-color: var(--cinza-dark);
    color: var(--branco);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1200px;
    margin: 0% auto;
    padding: 1rem;
}
.header{
    background-color: var(--cinza-light);
    border-bottom: 2px solid var(--Verde);
}
.pesquisa-button img{
    width: 18px;
    height: 18px;
}
.header-conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    font-size: 1.8rem;
}
.logo span {
    color: var(--Verde);
}
.menu {
    display: flex;
    gap: 1rem;
}
.menu a {
    text-decoration: none;
    color: var(--branco);
    transition: 0.3s;
}
.menu a:hover{
    color: var(--Verde);
}
.pesquisa-section{
    margin: 2rem 0;
}
.pesquisa-conteudo{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.pesquisa-conteudo input{
    width: 60%;
    padding: 0.7rem;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1rem;
}
.pesquisa-button{
    background-color: var(--Verde);
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.pesquisa-button:hover{
    transform: scale(1.1);
}
.footer{
    margin-top: auto;
    background-color: var(--cinza-light);
    text-align: center;
    padding: 1rem;
    border-top: 2px solid var(--Verde);
    font-size: 0.8rem;
}
#filmesGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}
.card{
    background-color: var(--cinza-light);
    width: 200px;
    border-radius: 12px;
   transition: 0.3s;
   cursor: pointer;
   position: relative;
   overflow: hidden;
}
.card img{
    width: 100%;
}
.card:hover{
   transform:scale(1.1);
}

.card p{
    max-height: 100%;
    position: absolute;
    overflow-y: auto;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 1rem;
    font-size: 0.85rem;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}
.card:hover p {
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateY(0);
}